.container {
  width: 600px;
  position: relative;
  padding:50px;
  background-color: tomato;
  
}
.main {
  width: 300px;
  height :400px;
  margin: 0 auto;
  background-color: skyblue;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
  position:relative;
}


/* render 1 */
.gender {
  display: none;
  background-color: tomato;
}

.gender.active, .job.active {
  display: block;
}
.battle.active {
  display: flex;
}

.gender > button {
  width: 200px;
  height: 60px;
  margin: 20px 0;
}

main > span {
  display: block;
}

/* logo */
.wrap2,
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height :400px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  overflow: hidden;
  box-sizing: border-box;
}
.wrap {
  background-color: #fff;
}
h1 {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-color: green;
  background: url(/img/logo.jpg) no-repeat;
  background-size: contain;
  text-indent:-9999px;
  text-overflow: ellipsis;
}
.loading {
  animation-duration: 3s;
  animation-name: load;
  animation-fill-mode: forwards;
}
@keyframes load{
  0% {
  transform: translate3d(0);
  }

  100% {
    transform: translate3d(0, -500px, 0);
  }
}

/* 랜딩2 */
  .job {
    width: 200px;
    margin:20px auto;
    display: none;
    background-color: #bbb;
  }
  .job::after{
    content:'';
    display: block;
    clear: both;
  }
  .job > button {
  width:150px;
  height:50px;
  margin:10px;
  border:1px solid red;
  }
.job > .prev {
  width:30px;
  height:30px;
  position: absolute;
  top:47%;
  left: 0;
  overflow: hidden;
  text-indent: -9999px;
  background:url() no-repeat;
}

/* 랜딩 3 */

.main h2, p {
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}
.main:nth-child(3) {
  position: relative;
}
.battle {
  display: none;
  margin-top: 30px;
}

.main:nth-child(3) h2 {
  color: #abd5bd;
  margin-bottom: 10px;
}

.main:nth-child(3) .battle h3 {
  position: absolute;
  top: 75px;
  left: 155px;
  color: white;
}

.main:nth-child(3) .left {
  display: flex;
  width: 50%;
  height: 200px;
  text-align: center;
  border: 2px solid;
}
.main:nth-child(3) .right {
  display: flex;
  width: 50%;
  height: 200px;
  text-align: center;
  border: 2px solid;
}



/* 랜딩 4*/
.main:nth-child(4) {
}

.battle figure{
  width : 200px;
  height: 200px;
  background-color: yellow;
}

.battle figure img{
  display: block;
  width: 150px;
  height: 150px;
  background-color: green;
}

